

/*=============================================
=            Fonts and Typography            =
=============================================*/

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.username-title{
    font-size: 2.8rem;
    margin-top: 1rem;
    padding-left: 2rem;
}

.label-size{
    font-size: 1.3rem;
}
/*=====  End of Fonts and Typography   ======*/



/*=============================================
=            General Styles            =
=============================================*/

*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*=====  End of General Styles  ======*/



/*=============================================
=            Layout            =
=============================================*/
#login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.username-box, .password-box{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;

}

.login-page-box{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*=====  End of Layout  ======*/







/*=============================================
=            Styles and States and Pseudo-classes            =
=============================================*/
.username-input-box , .password-input-box{
    padding-left:1rem ;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    outline:none;
    border: 1px solid grey;
}

.username-input-box:focus,.password-input-box:focus{
    box-shadow: rgba(239, 183, 15, 0.851) 0px 0.0625em 0.0625em, rgba(232, 170, 12, 0.827) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.login-page-logo-box{
    width: 20rem;
    height: 10rem;
    /* border: 1px solid red; */
    background-image: url(/SnapCart/images/logo-removebg-preview.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;   
}

.login-page-username-box{
    width: 35rem;
    /* height: 35.6rem; */
    border: 1px solid grey;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}

.username-input-box, .password-input-box{
    height: 3.1rem;
}


.login-button{
    padding: 1rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    width: 100%;
    background-color: #FFD814;    
    border: none;
}
.login-button:hover{
    background-color: #e1bf15;
}
.login-button:active{
    outline: 2px solid #FFD814;
}

.submit-button-box{
    /* border: 1px solid red; */
    padding-left: 2rem;
    padding-right: 2rem;
    /* background-color: #FFD814; */
}

.create-button{
    width: 100%;
    /* border: 1px solid red; */
    padding-left: 2rem;
    padding-right: 2rem;
}
.create-button button{
    width: inherit;
    padding: 1rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;  
    border: none;  
}
.create-button-effect:hover{
    background-color: rgb(230, 230, 230);
}
.create-button-effect:active{
    outline: 1px solid grey;
}
/*=====  End of Styles and States and Pseudo-classes  ======*/




/*=============================================
=            media Quiries            =
=============================================*/



/*=====  End of media Quiries  ======*/

















